
<div id="questions_div">
<p>
    Para votar nessa eleição é necessário que siga os passos abaixo:
<p>
    
<ol>
    <li> <b>Marcar</b> suas escolhas.</li>
<br />

    <li> <b>Revisar &amp; Confirmar</b> suas escolhas, que serão então criptografadas.</li>
<br />

    <li> <b>Depositar</b> sua cédula cifrada na urna.</li>

</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">Iniciar</button></div>
</div>

<p>
    Você pode <a target="_new" href="mailto:{$T.election_metadata.help_email}?subject=help%20with%20election%20{$T.election.name}&body=I%20need%20help%20with%20election%20{$T.election.uuid}">enviar um e-mail para obter ajuda</a>.
</p>

