
<h3>Envie sua cédula criptografada</h3>

<p>
  Todas as informações, exceto sua cédula criptografada,<br />
  foram removidas da memória.
</p>

<p>
Como lembrete, o seu número de rastreamento de votação é:<br />
<b><tt style="font-size: 16pt;">{$T.encrypted_vote_hash}</tt></b>
</p>

<p>
  De acordo com o arquivo de definição eleitoral, esta cédula será submetida ao:
</p>

<p><b><tt style="font-size:1.3em;">{$T.cast_url}</tt></b></p>

<p>
  onde você fará login para validar sua elegibilidade para votar.
</p>

<form method="POST" onsubmit="BOOTH.do_done();" action="{$T.cast_url}" id="send_ballot_form" class="prettyform">
<input type="hidden" name="election_uuid" value="{$T.election_uuid}" />
<input type="hidden" name="election_hash" value="{$T.election_hash}" />
<textarea name="encrypted_vote" style="display: none;">
{$T.encrypted_vote_json}
</textarea>
<div id="submit_button">
  <label for="submit">&nbsp;</label>
  <input type="submit" value="Submit Ballot" class="pretty" />
</div>
</form>

