{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
<h2>{{ settings.SITE_TITLE }}</h2>
{% endblock %}

{% block content %}

<div class="row"><div class="large-5 columns large-centered"><a href="/"><img border="0" src="{{ settings.MAIN_LOGO_URL }}" /></a></div></div>
<div class="row">&nbsp;</div>
<div class="large-9 columns">
  {% if settings.MASTER_HELIOS %}
<p>Helios oferece <b>eleições online verificáveis</b>.</p>

<p>Acreditamos que a democracia é importante, seja no clube do livro, na associação de pais e professores, no governo estudantil, no sindicato dos trabalhadores ou no estado. Por isso, tornamos as eleições verdadeiramente verificáveis tão fáceis quanto tudo o mais na Web.</p>

<p>
As eleições de Helios são:
<ul class="disc">
<li><b>privadas</b>: ninguém sabe como você votou.</li>
<li><b>verificáveis</b>: cada eleitor recebe um número de rastreamento.</li>
<li><b>comprovadas</b>: o Helios é de código aberto, avaliado por especialistas de primeira linha e usado por grandes organizações.</li>
</ul>

<p>
Mais de <b>2.000.000 de votos</b> foram dados usando o Helios.
</p>

{% if create_p %}
<a class="button" href="{% url "elections@new" %}">criar uma eleição</a>
{% endif %}

  {% else %}
  <p style="font-size: 1.4em;">
    {{settings.WELCOME_MESSAGE|safe}}
  </p>
  
  {% if elections|length %}
  <p>
    {% for election in elections %}
    <div class="panel">
      <a style="font-size: 1.4em;" href="{% url "shortcut@election" election.short_name %}">{{election.name}}</a>{% if settings.SHOW_USER_INFO %}<br /> por {{election.admin.display_html_small|safe}}{% endif %}
    </div>
    <br />
    {% endfor %}
  </p>
  {% else %}
  <h4>Nenhuma eleição em destaque no momento</h4>
  {% endif %}
{% endif %}
  
</div>

<div class="large-3 columns" id="mystuff">
<div class="row">&nbsp;</div>
<div class="panel row">
{% if user %}
<!--<div class="row right">{{user.display_html_big|safe}}</div>-->
{% if create_p %}
<a class="small button" href="{% url "elections@new" %}">criar eleição</a>
<h5 class="subheader">Administração</h5>
{% if elections_administered %}
<ul>
{% for election in elections_administered %}
<li> <a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
{% endfor %}
</ul>
{% else %}
<em>nenhuma ainda</em>
{% endif %}
<div class="row right">
<a class="tiny button" href="{% url "elections@administered" %}">ver tudo</a>
</div>
<div class="row"></div>
{% endif %}

<h5 class="subheader">Votações recentes</h5>
{% if elections_voted %}
<ul>
{% for election in elections_voted %}
<li><a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
{% endfor %}
</ul>
{% else %}
<em>nenhuma ainda</em>
{% endif %}
<div class="row right"><a class="tiny button" href="{% url "elections@voted" %}">ver tudo</a></div>
<div class="row"></div>
{% else %}
{% if settings.SHOW_LOGIN_OPTIONS %}
<h5>Ambiente de Administração da Eleição</h5>
{{login_box|safe}}
{% else %}
<p>
Selecione uma eleição para começar a votar. Serão solicitadas suas credenciais de voto após concluir a votação.
</p>
{% endif %}
{% endif %}
</div>
</div>


{% endblock %}
