{% extends TEMPLATE_BASE %}

{% block content %}
<h1>Por que precisamos de sua informação</h1>

<p>
Parece que você recusou a concessão de permissão de acesso a suas informações.
Entendemos e valorizamos sua privacidade. Pedimos esta informação para
contactá-lo com o número de rastreamento de sua votação e quando uma 
eleição da qual participou foi apurada. Nos comprometemos a não utilizar
esta informação para nenhuma outra finalidade. Sem esta informação, 
infelizmente não podemos auxiliar na sua votação.
</p>

<form method="POST" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="submit" value="OK, Eu entendo, vamos prosseguir." /><br /><br />
<a href="https://ufu.br">não, me tire daqui</a>.
</form>

{% endblock %}
