<form method="post" action="{% url "election@password-voter-login" election.uuid %}" onsubmit="show_waiting()">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="return_url" value="{{return_url}}" />
<input type="hidden" name="cast_ballot" value="{{cast_ballot}}" />

<div style="border: 1px solid #888; padding: 10px; max-width: 500px;">
{{password_login_form.as_p}}
{% if bad_voter_login %}
<p style="color: red;">
eleitor de ID ou senha inválidos, tente novamente.
</p>
{% endif %}
{% if cast_ballot == "1" %}
<input type="submit" class="button" value="autenticar e depositar voto" />
<p class="small">
  Seu ID de eleitor e senha podem ser encontrados no e-mail que você recebeu.
  Se você não recebeu estas informações, entre em contato com o administrador da eleição em <tt>{{election.help_email}}</tt>.
</p>
<p class="small">
Você pode votar quantas vezes desejar: apenas o último voto será considerado.
</p>
{% else %}
<input type="submit" class="button" value="Entrar" />
{% endif %}
</form>
</div>


