{% extends TEMPLATE_BASE %}

{% block title %}Apuração &mdash; {{election.name}}{% endblock %}
{% block content %}
  <h2 class="title">{{election.name}} &mdash; Apuração <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">cancelar</a>]</span></h2>

  <p>
    Você está prestes a realizar a apuração para esta eleição. Só então poderá ver os resultados.
  </p>

  <form method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <input type="submit" class="button" value="apurar" />
  </form>

{% endblock %}
