{% extends TEMPLATE_BASE %}

{% block title %}Auditoria de Votos para {{election.name}}{% endblock %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Auditoria de Votos <span style="font-size:0.7em;">[<a href="{% url "election@view" election_uuid=election.uuid %}">voltar para eleição</a>]</span></h2>

<p>
  Quando você prepara um voto com Helios, você imediatamente recebe um rastreador de voto. Antes que você submeta o voto, você pode pedir ao Helios para auditar o voto criptografado e verificar se seu voto foi criptografado corretamente. Uma vez que isso foi feito, você pode publicizar seu voto aqui, na lista de votos auditados, para que todos verifiquem (sua identidade não é revelada).
</p>

<p>
  Estes votos auditados <em>NÃO</em> são contabilizados nas urnas. Servem apenas para o propósito de auditoria, mostrando que o Helios está criptografando corretamente as escolhas dos eleitores.
</p>

<p>
  Para verificar um voto auditado, copie seu conteúdo completo e cole no <a target="_new" href="/booth/single-ballot-verify.html?election_url={% url "election@home" election.uuid %}">verificador de voto</a>.
</p>

{% if audited_ballots %}
<p>
Votos auditados {{offset_plus_one}} - {{offset_plus_limit}} &nbsp;&nbsp;
</p>

{% if next_after %}
<a href="?after={{next_after}}&offset={{offset_plus_limit}}">próximo {{limit}}</a> &nbsp;&nbsp;
{% endif %}

{% ifequal offset 0 %}
{% else %}
<a href="?">de volta ao início</a> &nbsp;&nbsp;
{% endifequal %}
{% if more_p %}
<a href="?after={{next_after}}&offset={{next_offset}}">próximo {{limit}}</a>
{% endif %}
<table class="pretty">
{% for b in audited_ballots %}
<tr><td><tt style="font-size: 1.4em;">{{b.vote_hash}}</tt> [<a target="_blank" href="?vote_hash={{b.vote_hash|urlencode}}">visualizar</a>]</td></tr>
{% endfor %}
</table>
{% else %}
<em>nenhum voto auditado ainda</em>
{% endif %}

{% endblock %}
