{% extends TEMPLATE_BASE %}

{% load timezone_filters %}

{% block content %}

  <h2 class="title">A eleição {{election.name}} ainda não está aberta</h2>

  <p>
    Esta eleição ainda não está aberta.
  </p>
  
  <p>
      {% if election.voting_start_at %}Votação começa em {{election.voting_start_at | para_gmt3}}<br />{% endif %}
      {% if election.voting_end_at %}Votação termina em {{election.voting_end_at | para_gmt3}}<br />{% endif %}  
  </p>
  
  <p>
      <a href="{% url "election@view" election.uuid %}">voltar para a eleição</a>
  </p>
{% endblock %}
