{% extends "helios/templates/cryptobase.html" %}
{% block content %}
<script language="javascript">

var PUBLIC_KEY, PROOF;

function clear_keys() {
    $('#sk_download').hide();
    $('#pk_form').hide();
    $('#buttons').show();
    $('#clear_button').hide();
    $('#reuse').hide();
}

function show_key_reuse() {
    $('#generator').hide();
    $('#reuse').show();
}

SECRET_KEY = null;

function reuse_key(secret_key_text) {
    SECRET_KEY = ElGamal.SecretKey.fromJSONObject(jQuery.secureEvalJSON(secret_key_text));

    $('#reuse').hide();
    setup_public_key_and_proof();
    show_pk();
}

// start collecting some local randomness
sjcl.random.startCollectors();

$(document).ready(function() {
    clear_keys();
    $('#generator').hide();

    // get some more server-side randomness for keygen
    $.getJSON('{% url "election@get-randomness" election.uuid %}', function(result) {
       sjcl.random.addEntropy(result.randomness);
       BigInt.setup(function() {
          ELGAMAL_PARAMS = ElGamal.Params.fromJSONObject({{eg_params_json|safe}});
          $('#waiting_message').hide();
          $('#generator').show();
       });
    });
});


function generate_keypair() {
    $('#buttons').hide();
    
    try {
        SECRET_KEY = ELGAMAL_PARAMS.generate();
    } catch (e) {
        alert(e);
    }

    setup_public_key_and_proof();
}

function setup_public_key_and_proof() {    
    // generate PoK of secret key
    PROOF = SECRET_KEY.proveKnowledge(ElGamal.fiatshamir_dlog_challenge_generator);
    PUBLIC_KEY = SECRET_KEY.pk;

    var pk_val = jQuery.toJSON({'pok': PROOF, 'public_key': PUBLIC_KEY});
    $('#pk_textarea').val(pk_val);
    $('#pk_hash').html(b64_sha256(jQuery.toJSON(PUBLIC_KEY)));

    $('#clear_button').show();
    show_sk();
}

function show_sk() {
    $('#sk_download').show();
}

function download_sk() {
    $('#pk_content').show();
    $('#sk_content').html(jQuery.toJSON(SECRET_KEY));
}

function download_sk_to_file(filename) {
    var element = document.createElement('a');
    element.setAttribute('href','data:text/plain;charset=utf-8,'+ encodeURIComponent(jQuery.toJSON(SECRET_KEY)));
    element.setAttribute('download', filename);
    element.style.display = 'none';
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
}

function show_pk() {
    $('#sk_download').hide();
    $('#pk_content').hide();
    $('#pk_hash').show();
    $('#pk_form').show();
}

</script>

<h2 class="title">{{election.name}} &mdash; Apurador {{trustee.name}} &mdash; Configuração de chave</h2>

<p>
    Como apurador, é hora de configurar sua chave para essa eleição.
</p>

<p id="waiting_message">
    Por favor, aguarde o carregamento do gerador...
</p>

<p id="generator">

<span id="buttons"><button onclick="generate_keypair(); return false;" id="generate_button">Gerar Chaves da Eleição</button></span>

<br />
Se você já tem um par de chaves, você pode <a href="javascript:show_key_reuse()">reutilizá-la</a>.
</p>

<div id="reuse">
<h3>Reutilizando uma Chave</h3>

<p>
Informe sua chave privada completa abaixo:
</p>
<form onsubmit="reuse_key(this.secret_key.value); return false;">
<textarea cols="80" rows="5" wrap="soft" name="secret_key">
</textarea>
<br />
<input type="submit" value="reuse" />
</form>
</div>

<div id="sk_download">
<h3>Sua Chave Secreta</h3>
<span id="clear_button">
    Sua chave foi gerada, mas você pode optar por<br /><a href="javascript:clear_keys();">limpar da memória e começar do zero</a> se preferir.<br />
</span>

<p>
    <button style="font-size:16pt;" onclick="download_sk(); $('#pk_link').show();">Exibir minha chave secreta</button>
</p>
</div>

<div style="display:none;" id="pk_content">
    <p>Abaixo se encontra o conteúdo da sua chave secreta de apurador. Por favor, copie o conteúdo e salve de modo seguro. <br>
       Você também pode fazer download dela para salvar em arquivo.<br><br>
       <strong>E, por favor, NÃO A PERCA! Se sua chave secreta for perdida, não será possível apurar o resultado da eleição.</strong><br>
    </p>
    <textarea id="sk_content" rows="5" wrap="soft" cols="50" style="height: 25em;"></textarea>
</div>

<div style="display:none;" id="pk_link">
<p>
<a id="download_to_file" href="javascript:download_sk_to_file('trustee_key_for_{{election.name}}.txt');">salvar chave secreta em arquivo</a>
</p>
<p>
  <a href="javascript:show_pk();">já salvei a chave, prosseguir</a>
</p>
</div>

<form method="post" id="pk_form" action="{% url "election@trustee@upload-pk" election.uuid trustee.uuid %}">
<h3>Sua Chave Pública</h3>
<p>
    É hora de carregar a chave pública para o servidor.
</p>
<p>
    O código de identificação da  sua chave pública é: <tt id="pk_hash" style="font-size: 1.5em; font-weight: bold;"></tt>.<br />
    Você pode salvar este código para conferir se a sua chave pública foi corretamente salva no servidor.<br />
    (Sua chave pública não está sendo exibida porque você não precisa salvá-la, o código de identificação é suficiente.)
</p>
<textarea id="pk_textarea" name="public_key_json" cols="80" rows="10" style="display:none;">
</textarea>
<input type="submit" value="Carregar sua chave pública">
</form>

<div id="applet_div"></div>
<br /><br />
{% endblock %}
