{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Congelar Eleição</h2>
<p>
Assim que a eleição estiver "congelada", as questões, opções, e trustees não podem mais ser modificados.<br />
</p>

<p>
{% if election.openreg %}
Cadastro para sua eleição está atualmente <b>aberto</b>, o que significa que qualquer um pode votar, mesmo após você "congelar" a eleição.
{% else %}
Cadastro para sua eleição está atualmente <b>fechado</b>, o que significa que somente eleitores que você designou poderão votar. Como administrador, você pode modificar a lista de eleitores durante a eleição.
{% endif %}
</p>    

{% if helios.VOTERS_EMAIL %}
<p>
Você deve "congelar" a votação antes de contactar os eleitores.
</p>
{% endif %}

{% if issues_p %}
<p>
    Antes de "congelar" a eleição, você precisará:
    <ul>
        {% for issue in issues %}
        <li>{{issue.action}}</li>
        {% endfor %}
    </ul>
    <a href="{% url "election@view" election.uuid %}">voltar para a eleição</a>
</p>
{% else %}
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
<input class="button" type="submit" value="congelar a votação" />
<button onclick="document.location='{% url "election@view" election.uuid %}'; return false;">NÃO congelar ainda</button>
</form>
{% endif %}

<br /><br />
{% endblock %}
