{% extends TEMPLATE_BASE %}
{% block title %}Confirmação de voto{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
  $('#waiting_div').hide();
});

function show_waiting() {
  $('#all_forms').hide();
  $('#waiting_div').show();
}

// FIXME: set this to false once it's clear how to set it back to true
// so that it's not easy to forget to cast a ballot
var ready_to_unload = true;

window.onbeforeunload = function(evt) {
  if (ready_to_unload)
    return;

  if (typeof evt == 'undefined') {
    evt = window.event;
  }
  
  var message = "Você ainda não submeteu seu voto! Certifique-se de completar o processo de votação se quiser que seu voto seja considerado.";

  if (evt) {
    evt.returnValue = message;
  }
  
  return message;
};

</script>
<h1>Atenção!<br />Seu voto ainda não foi confirmado.</h1>

<div id="waiting_div">
    Verificando e submetendo seu voto<br />
    <img src="/static/helios/loading.gif" />
</div>

<div style="word-wrap: break-word; width: 90vw;">
Seu rastreador de voto é:<br>
<b>{{vote_fingerprint}}</b>
<br><br>
</div>

<div id="all_forms">

{% if voter %}

{% include "_castconfirm_docast.html" %}

{% else %}

{% if show_password %}
{% with cast_ballot="1" %}
{% include "_castconfirm_password.html" %}
{% endwith %}

{% else %}

{% if user %}
<h1>Desculpas!<h1>
<b>Desculpas, você <em>
  {% if election.openreg %}
    <u>não é elegível</u></em> para participar desta eleição.
  {% else %}
    não está cadastrado</em> para esta eleição, e o cadastro está encerrado.
  {% endif %}
  </b><br /></p>
<p>
    [<a href="{% url "election@view" election.uuid %}">retornar para a página principal da eleição</a>]
</p>
{% else %}
<p>
{% if election.openreg %}

  {% if election.eligibility %}
  {% else %}
   Esta eleição é aberta para <em>qualquer um</em>, faça o login com sua conta de preferência.
  {% endif %}

{% else %}
  Esta eleição é aberta apenas para <em>eleitores registrados</em>,
  faça o login com a mesma conta com a qual foi registrado.
{% endif %}
</p>

{{login_box|safe}}

<br />
Não se preocupe, lembraremos o seu voto enquanto você faz o login.
{% endif %}

{% endif %}
</p>
{# this closes the IF ELSE of this being password_only #}
{% endif %}

</div>

{% endblock %}
