{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{ election.name }} &mdash; Registrar</h2>

{% if user %}
<p>
    You are currently logged in asVocê está conectado atualmente como {{user.user_id}} [{{user.user_type}}]
</p>
{% if voter %}
<p>
    Atualmente você está registrado para essa eleição.
</p>
{% else %}
<p>
    Você <em>não está</em> registrado para essa eleição.
</p>

<form method="post" action="{% url "election@register" election.uuid %}">
<input type="submit" value="registrar!" />
</form>
{% endif %}

{% else %}
{% endif %}

{% endblock %}