{% extends TEMPLATE_BASE %}

{% block title %}Realizar apuração para {{election.name}}{% endblock %}

{% block content %}
  <h2 class="title">Realizar apuração para eleição: {{election.name}}</h2>

<div id="instructions">
{% if election.num_cast_votes %}
<p>
    Você está prestes a realizar a apuração criptografada para  <b>{{election.name}}</b>.
</p>

<p>
    Uma vez encerrada, eleitores não serão capazes de votar.
</p>

<form method="post" action="" onsubmit="alert('ok, apuração começou')" class="pretty">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
<input class="button" type="submit" value="iniciar apuração!" />
<button onclick="document.location='{% url "election@view" election.uuid %}'; return false;">deixa pra lá</button>
</form>
{% else %}
<p>
Nenhum voto foi submetido nesta eleição. Pelo menos um voto deve ser submetido antes de realizar a apuração.<br /><br />
<a href="{% url "election@view" election.uuid %}">voltar para a eleição</a>
</p>
{% endif %}
</div>

<br /><br />
{% endblock %}
