{% extends "helios/templates/cryptobase.html" %}

{% block title %}Apuradores para {{election.name}}{% endblock %}

{% block content %}
  <h3 class="title">{{election.name}} &mdash; Apuradores <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">voltar para a eleição</a>]</span></h3>

<p>
  A urna só poderá ser aberta para a eleição depois que todos os 
  apuradores cadastrados entrarem na interface de apuração e fornecerem sua 
  chave privada. ATENÇÃO: Se um apurador perder sua chave, a urna não poderá 
  ser aberta e todos os votos serão perdidos. <br><br>
  ATENÇÃO: Após adicionar um apurador, você deve obrigatoriamente clicar no 
  botão "Enviar e-mail" para que o apurador receba o e-mail informando que 
  deve cadastrar sua chave.
</p>

{% if not election.frozen_at %}

<p>
  Se você não quiser cadastrar apuradores externos ao sistema, O Helios é 
  automaticamente seu primeiro apurador e irá tratar da geração de chaves e 
  desencriptação automaticamente.<br />
  Se você cadastrar apuradores adicionais, você pode remover o Helios como 
  apurador, clicando no botão de excluir da opção "Sistema de Votação Online"
  na listagem de apuradores abaixo.<br />
</p>

{% if admin_p %}
<p>
    [ <a onclick="return(confirm('Adicionar seu próprio administrador requer um pouco mais de trabalho para contabilizar a eleição.\nVocê precisará fazer com que os administradores gerem pares de chaves e protejam suas chaves secretas.\n\nSe você não tiver certeza do que isso significa, recomendamos fortemente\nclicar em Cancelar e deixar Helios compute a eleição para você.'));" href="{% url "election@trustees@new" election.uuid %}">adicionar um apurador</a> ]
</p>
{% if not election.has_helios_trustee %}
<p>
    <a href="{% url "election@trustees@add-helios" election.uuid %}">adicionar o sistema de votação (Helios) como apurador</a>
</p>
{% endif %}
{% endif %}

{% endif %}

{% if not trustees|length %}

{% else %}
{% for t in trustees %}
<h5> Apurador #{{forloop.counter}}: {{t.name}} 
{% if admin_p %}
{% if t.secret_key %}
{% if not election.frozen_at %}[<a onclick="return confirm('Tem certeza de que deseja remover Helios do cargo de apurador?');" href="{% url "election@trustees@delete" election.uuid %}?uuid={{t.uuid}}">x</a>]{% endif %}
{% else %}
({{t.email}})
{% if not election.frozen_at %}[<a onclick="return confirm('Tem certeza de que deseja remover este apurador?');" href="{% url "election@trustees@delete" election.uuid %}?uuid={{t.uuid}}">x</a>]{% endif %}
[<a onclick="return confirm('Tem certeza de que deseja enviar a este apurador a sua URL de apurador?');" href="{% url "election@trustee@send-url" election.uuid t.uuid %}">enviar login</a>]
{% endif %}
{% endif %}
</h5>

<p>
{% if t.public_key_hash %}
Código de Identificação da Chave Pública: <tt style="font-size:1.5em;">{{t.public_key_hash}}</tt>
{% else %}
Nenhuma chave pública carregada ainda.
{% endif %}
</p>

{% if election.encrypted_tally %}
{% if t.decryption_factors %}
<b>apuração registrada para esse apurador.</b>
{% else %}
<em>esperando pela apuração deste apurador</em>
{% endif %}
{% endif %}
</li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}
