{% extends "helios/templates/cryptobase.html" %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Apurador {{trustee.name}} &mdash; Início</span></h2>

<p>
{% if trustee.public_key_hash %}
Você carregou com sucesso sua chave pública.<br />
O código de identificação de sua chave pública é: <b>{{trustee.public_key_hash}}</b>.<br />
Você pode <a href="{% url "election@trustee@check-sk" election.uuid trustee.uuid %}">verificar se você tem a chave privada correta</a>.
{% else %}
<a href="{% url "election@trustee@key-generator" election.uuid trustee.uuid %}">configurar chave de apurador</a>
{% endif %}
</p>

<p>
{% if election.encrypted_tally %}
{% if trustee.decryption_factors %}
Você carregou com sucesso sua desencriptação.
{% else %}
A apuração criptografada dessa eleição está pronta.<br />
    <a href="{% url "election@trustee@decrypt-and-prove" election.uuid trustee.uuid %}">descriptografar com sua chave</a>
{% endif %}
{% else %}
Uma vez que a apuração for computada e for o momento dos apuradores informarem suas chaves secretas,<br />
você deve retornar a esta página e informar sua chave secreta na opção que vai estar disponível,
para poder descriptografar a apuração.
Guarde o email que você recebeu quando foi designado como apurador, o qual contém o link com as
credenciais necessárias para retornar a esta página.
{% endif %}
</p>



{% endblock %}
