{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Buscar Eleitores por '{{search_term}}' <span style="font-size:0.7em;">[<a href="{% url "election@view" election.uuid %}">voltar para a eleição</a>]</span></h2>

{% if voter %}
Eleitor Encontrado: {{voter.name}} ({{voter.voter_id}})<br /><br />
{% if election.frozen_at %}
<a href="{% url "election@voters@email" election.uuid %}?voter_id={{voter.voter_id}}">enviar email para esse eleitor</a>
{% else %}
Quando essa eleição for congelada, você estará apto a enviar email para esse eleitor.
{% endif %}
{% else %}
<em>eleitor não encontrado</em>
{% endif %}

{% endblock %}